;; shadow-cljs configuration
{:deps true

  :nrepl {:port 8001}

 :dev-http [8080 "/target"]

 :builds
 {:frontend {:output-to "target/core.js"
             :asset-path "."
             :target :node-script
             :main com.felipegsilva.core/main!
             :devtools {:after-load com.felipegsilva.core/reload!}}}}
